@import '1-base/_vars.scss';
@import '1-base/_mixins.scss';
@import '1-base/_breakpoints.scss';
@import '../3-tools/bourbon/_bourbon.scss';
.section-contact {
    max-width: 1170px;
    height: 670px;
    //background: pink;
    margin: 0 auto;    
    h1 {
        max-width: 300px;
        @include headline;
        margin: 120px auto 20px auto;
    }
    .content-separator--line {
        @include line;
    }
    .content-separator--line_xs {
        @include line2;
    }
    form {
        margin: 80px auto;
        input,
        textarea,
        select {
            outline: none;
            -webkit-appearance: none;
            border-radius: 0;
        }
        .section-contact--input_info input {
            border: none;
            border-bottom: 2px solid black;
            width: 540px;
            background: none;
            font-family: $mainfont;
            font-size: 16px;
            color: $blacky;
            padding-top: 10px;
            margin-left: 30px;
            transition: all 0.3s ease-in-out;
            @include breakpoint(lg) {
                max-width: 300px;
                margin: 20px auto;
                display: block;
            }
            &:focus {
                width: 560px;
                font-size: 20px;
            }
        }
        textarea {
            width: 1120px;
            background: none;
            border: none;
            border-bottom: 2px solid black;
            font-family: $mainfont;
            display: block;
            font-size: 16px;
            height: 200px;
            margin: 60px 30px 0 30px;
            transition: all 0.3s ease-in-out;
            @include breakpoint(lg) {
                max-width: 300px;
                margin: 30px auto;
            }
            &:focus {
                font-size: 20px;
            }
        }
    }
    input:last-child {
        @include btn;
        font-family: $mainfont;
        font-size: 16px;
        width: 170px;
        border: none;
        border: 1px solid $blacky;
        background: white;
        box-shadow: 0 7px 20px rgba(0, 0, 0, 0.20);
        color: $blacky;
        display: block;
        margin: 45px auto;
        &:hover {
            background: $blacky;
            color: white;
        }
    }
}