@import '1-base/_vars.scss';
@import '1-base/_mixins.scss';
@import '1-base/_breakpoints.scss';
@import '../3-tools/bourbon/_bourbon.scss';
.section-card {
    height: 860px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;    
        @include breakpoint(lg) {
            height: 1200px;
        }
        @include breakpoint(phone) {
            height: 1350px;
        }
    .section-card--bg {
        background-image: url("../img/bg.jpg");
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
        filter: brightness(40%);        
    }
    .section-card--container {
        background: white;
        font-family: $mainfont;
        box-shadow: 0 0 70px rgba(0,0,0,0.45);
        height: auto;
        min-width: 300px;
        max-width: 1170px;
        @include position(absolute,
        170px 0 null 0);
        margin: 0 auto;
            @include breakpoint(lg) {
                margin-left: 50px;
                margin-right: 50px;                
            }       
            @include breakpoint(phone) {
                margin-left: 10px;      
                margin-right: 10px;                      
            }
        h4 {
            @include headline;
            margin: 60px auto 20px;
            max-width: 300px;
            text-align: center;
        }
        .content-separator--line {
            @include line;
        }
        .content-separator--line_xs {
            @include line2;
        }
        .section-card--flex_container {
            @include display(flex);
            justify-content: center;  
            flex-wrap: wrap;                      
            padding: 30px;            
            text-align: center;
                .front-end, .back-end, .consult {
                    max-width: 500px;                    
                    padding: 20px;                                                                        
                }
                .front-end {
                    .icon {
                        background-image: url("../img/monitor.png");
                        background-size: cover;
                        width: 50px;
                        height: 50px;
                        margin: 0 auto;
                    }
                    p {
                        max-width: 270px;
                        min-width: 200px;
                    }
                }
                .back-end {
                    @extend .front-end;
                }
                .consult {
                    @extend .front-end;
                }

        }
    }
}