@mixin btn {
    width: 150px;
    height: 50px;
    background: $blacky;
    color: white;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    &:hover {
        background: white;
        cursor: pointer;
        color: $blacky;
    }
}

@mixin headline {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

@mixin line {
    width: 60px;
    height: 2px;
    background: $blacky;
    margin: 0 auto;
    position: relative;
    &:after {
        content: '';
        background: white;
        position: absolute;
        width: 2px;
        left: 24px;
        height: 2px;
    }
    &:before {
        content: '';
        background: white;
        position: absolute;
        width: 2px;
        right: 24px;
        height: 2px;
    }
}

@mixin line2 {
    width: 30px;
    height: 2px;
    background: $blacky;
    margin: 3px auto;
    position: relative;
    &:after {
        content: '';
        background: white;
        position: absolute;
        width: 2px;
        right: 5px;
        height: 2px;
    }
}